.myplan-container {
  background-image: url('../images/texture.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.myplan-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  filter: blur(15px);
  z-index: 0;
}

.myplan-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 800px;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: auto;
  z-index: 10;
}

.page-title {
  font-size: 2.5rem;
  text-align: center;
  color: #2C3E50;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.selected-exercises {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #BDC3C7;
  border-radius: 10px;
  background-color: #F9F9F9;
  width: 100%;
  max-width: 800px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.action-button {
  background-color: #0d1a12;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2rem;
  }

  .myplan-content {
    padding: 15px;
  }

  .selected-exercises {
    margin-top: 15px;
  }

  .action-buttons {
    flex-direction: column;
    align-items: center;
  }

  .action-button {
    width: 80%;
    margin: 5px 0;
  }
}
