.equipment-page {
    position: relative;
    display: flex;
    padding: 20px;
    padding-top: 50px;
    background-color: #f9f9f9;
    flex-wrap: wrap;
}

.filters {
    flex: 1;
    width: 20%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
    position: sticky;
    top: 0;
}

.filters h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.filters h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.filters ul {
    list-style: none;
    padding: 0;
}

.filters ul li {
    margin-bottom: 5px;
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s;
}

.filters ul li:hover {
    color: #0056b3;
}

.reset-filters {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.reset-filters:hover {
    background-color: #c33a2d;
}

.equipment-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 20px;
    padding-top: 10px;
}

.equipment-card {
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    min-height: 350px;
    min-width: 300px;
    width: fit-content;
    height: fit-content;
}

.equipment-card:hover {
    transform: scale(1.05);
}

.equipment-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 6px;
}

.equipment-info h3 {
    font-size: 1.2em;
    color: #222;
}

.equipment-info p {
    font-size: 1em;
    color: #555;
}

.equipment-info h3,
.equipment-info p {
    margin: 0;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}

.price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.add-to-cart-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}
