
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef2f5;
}

.front-page {
  background-image: url('../../images//hbd.jpg');
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  padding: 30px;
  background-color: #783333;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
.hero-section {
  color: red;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in;
}

.hero-text {
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.cta-button {
  all: unset; /* Resets all inherited styles */
  display: inline-block;
  background-color: #e50914;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 1; /* Ensures consistent text alignment */
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #c40612;
}


/* Section Styles */
.section {
  padding: 80px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.about-section, .courses-section, .services-section, .pricing-section {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.pricing-plan {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s;
}

.pricing-plan:hover {
  transform: translateY(-5px);
}

/* Offers Section */
.offers-section {
  background-color: #e50914;
  padding: 60px 20px;
  color: white;
  border-radius: 12px;
  margin-top: 30px;
}

.offers-cta-button {
  background-color: #fff;
  color: #e50914;
  border-radius: 30px;
  padding: 12px 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.offers-cta-button:hover {
  background-color: #f4f4f4;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;
  }

  .cta-button {
    padding: 10px 20px;
  }
}