

.login-container {
    background-image: url('../../images/hbd.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 350px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background: linear-gradient(to bottom, #f4f4f9, #fff);
}

/* Inner box for content separation */
.login-box-inner {
    position: relative;
    width: 100%;
    height: auto;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

/* Header styles */
.login-header-section {
    font-size: 18px;
    margin-bottom: 5px;
    color: #2C3E50;
}

.login-header-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2C3E50;
    text-align: center;
}

.login-header-section p {
    font-size: 1rem;
    color: #34495E;
    margin-bottom: 15px;
    text-align: center;
}

/* Form styles */
.login-box {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.login-form{
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #2C3E50;
    width: 100%;
    line-height: 20px;
}

.form-control {
    width: 100%;
    padding: 12px 4px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Button styles */
.login-button {
    display: block;
    width: 100%;
    padding: 15px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out, box-shadow 0.3s;

    &:hover {
        background-color: #007bff;
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

.redirect-registration {
    width: 100;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #333;
}