.container {
    background-image: url('../../images/h1_hero.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

.box {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 350px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background: linear-gradient(to bottom, #f4f4f9, #fff);
}

.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.header-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2C3E50;
}

.redirect-signin {
    font-size: 1rem;
    color: #34495E;
    margin-top: 15px;
    text-align: center;
}

.form {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #2C3E50;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 15px 25px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out, box-shadow 0.3s;

    &:hover {
        background-color: #555;
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}