<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Beefit
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <form action="{% url 'beefit:logout' %}" method="post">
            {% csrf_token %}
            <button>logout</button>
        </form>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>