/* General Header and Navbar Styles */
.header {
  background-color: transparent; /* Set transparent background */
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: none; /* Remove shadow */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-left .brand-name {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 153, 255); /* Maintain contrast with the background */
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.nav-menu li {
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  color: white; /* Change this color based on the front page’s background */
  font-size: 20px;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease,
}

.nav-link:hover {
  color: #007bff;
}

.login-link {
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background-color: rgb(0, 110, 255);
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
  font-size: 20px;
}

.login-link:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 20px;
  }

  .navbar-left,
  .navbar-right {
      text-align: center;
  }

  .nav-menu {
      flex-direction: column;
      align-items: center;
  }

  .nav-menu li {
      margin: 10px 0;
  }
}
